/* 

This is a comment! This border was made by W3 Schools ! 

*/

body {
	background-color: #2df0af;
}

h1 {
	text-align: center;
	background-color: #cb904d;
	font-family: 'Grenze', 'Times New Roman', Times, serif;
	font-size: 3.50em;
}

p {
	font-family: 'Fjalla One', 'Times New Roman', serif;
	font-size: 1.50em;
	text-decoration-color: #6096ba;
}

a {
	font-family: 'Fjalla One';
	font-size: 1.5em;
}

.imgbord {
	border: 5px;
	border-style: dotted;
	border-color: #42253b;
	border-radius: 10px;
}

.widthSm {
	width: 30%;
	float: left;
}

.leftAlign{
	float: left;
}

.rightAlign{
	float: right;
}
