/* 

This is a comment! This border was made courtesy of https://www.w3schools.com/css/css_border.asp! 

The color palette is courtesy of coolors.co.

The navbar is courtesy of https://www.w3schools.com/css/css_navbar.asp.s

*/
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100..900;1,100..900&family=Idiqlat:wght@200;300;400&display=swap');

body {
	background-color: #8895B3;
}

nav {
	position: sticky;
  	top: 0;
  	z-index: 1000;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
}

ul {
	height: 50px;
	background-color: #c12929;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	
}

ul li a {
	color: #ffffff;
	text-align: justify;
	padding: 15px 14px;
	text-decoration: none;
	display: block;
	justify-content: left;
}

ul li a:hover {
  background-color: #823329;
}

ul li a.active {
  background-color: #FC7A57;
}

h1 {
	text-align: center;
	background-color: #DBB26B;
	font-family: 'Grenze', 'Times New Roman', Times, serif;
	font-size: 3.50em;
}

h2 {
	text-align: center;
	font-family: 'Grenze', 'Times New Roman', Times, serif;
	font-size: 2.50em;
	position: relative;
	animation-name: myAnimation;
  	animation-duration: 2s;
  	animation-direction: reverse;
}

p {
	font-family: 'Idiqlat', 'Times New Roman', serif;
	font-size: 1em;
	color: #4A5043;
}

a {
	font-family: 'Idiqlat';
	font-size: 1em;
}

img {
	border-radius: 10px;
}

.imgbord {
	border: 5px;
	border-style: dotted;
	border-color: #941C2F;
	border-radius: 10px;
	margin-right: 10px !important;
	margin-bottom: 5px !important;
}

.widthSm {
	width: 30%;
}

.widthXSm {
	width: 15%;
}

.leftAlign{
	float: left;
}

.rightAlign{
	float: right;
}

.centerAlign {
	display: block;
    margin: 0 auto;
}

.clearFix{
	overflow: auto;
}

@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

@keyframes rotate {
  from {left:0px; top:0px;}
  to{left:0px; top:0px; transform:rotate(360deg);}
}

div {
  position: relative;
  animation-name: myAnimation;
  animation-duration: 2s;
  animation-fill-mode: none;
}

.div-reverse {
  position: relative;
  animation-name: myAnimation;
  animation-duration: 2s;
  animation-direction: reverse;
}

.rotate {
  position: relative;
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: none;
}

